<div class="dashboard">
  <header class="header">
    <h1>{{ state.state().habit?.name || 'Your Plant' }}</h1>
    <div class="plant-status">
      <ng-container *ngIf="!loadingHealth; else loading">
        <span *ngIf="plantHealth !== null; else unknown">
          🌿 Health: <strong>{{ plantHealth }}</strong>
        </span>
      </ng-container>

      <ng-template #unknown>🌿 Health: Unknown</ng-template>
      <ng-template #loading>🔄 Checking health...</ng-template>
    </div>
    <p *ngIf="state.state().habit">Daily check-in by {{ state.state().habit?.checkInTime }}</p>
  </header>

  <section class="card main">
    <button class="btn btn-main" (click)="doCheckIn()">
      {{
        state.state().habit?.kind === 'start' ? 'I did my good habit 🌿' : 'I did my bad habit 💀'
      }}
    </button>
  </section>

  <div class="cards-row">
    <section class="card features">
      <h3>Features</h3>
      <div class="row">
        <button class="btn btn-secondary" routerLink="/setup">Setup Habit</button>
        <button class="btn btn-secondary" routerLink="/pair">Pair New Plant</button>
      </div>
    </section>

    <section class="card tests">
      <h3>Testing</h3>
      <div class="row">
        <button class="btn btn-secondary" (click)="testUp()">Test Up</button>
        <button class="btn btn-secondary" (click)="testDown()">Test Down</button>
      </div>
    </section>
  </div>

  <pre class="flower" ngNonBindable>
       .-.
 __   /   \   __
(  `'.\   /.'`  )
 '-._.(;;;)._.-'
 .-'  ,`"`,  '-.
(__.-'/   \'-.__)/)_
      \   /\    / / )
       '-'  |   \/.-')
       ,    | .'/\'..)
       |\   |/  | \_)
       \ |  |   \_/
        | \ /
         \|/  
          / 
</pre
  >

  <footer class="footer">
    <button class="btn btn-danger" (click)="clearStorage()">Clear local data</button>
  </footer>
</div>
